@charset "UTF-8";
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.section {
  background: #eef3f5;
  min-height: 90vh;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  background: #009adf;
}
.btn-big {
  padding: 2rem 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px;
  border-bottom: 5px solid #0077ac;
}

.header {
  padding: 1rem 0;
  background: #eef3f5;
}
.header-wrapper {
  padding: 0.5rem 0;
  background: #fff;
}
.header-logo {
  padding: 1rem;
  margin-left: 2rem;
}
.header-title {
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #131313;
  cursor: default;
}
.header-form {
  display: flex;
  justify-content: flex-end;
}
.header-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
.header-form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  color: #131313;
}
.header-form__group label {
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
}
.header-form__group input {
  font-size: 1.6rem;
  border-radius: 3px;
  background: transparent;
  border: 1.5px solid #009adf;
  padding: 2px;
}
.header-form__buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-form__buttons input {
  margin-right: 1rem;
  padding: 2px 10px;
  border: none;
  line-height: 16px;
}
.header-form__buttons a {
  line-height: 16px;
  padding: 2px 10px;
}

.left, .right {
  background: #fff;
  min-height: 70vh;
}

.left {
  display: flex;
  justify-content: center;
}
.left-menu {
  width: 100%;
  list-style: none;
}
.left-menu__item {
  position: relative;
  text-align: center;
}
.left-menu__item * {
  color: #131313;
}
.left-menu__item::after {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  background: #009adf;
  content: "";
  display: block;
  transition: 0.3s;
}
.left-menu__item:hover::after {
  width: 100%;
  left: 0;
}
.left-menu__item a {
  position: relative;
  z-index: 4;
  display: block;
  padding: 1.5rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  transition: 0.3s;
  transition-delay: 0.1s;
}
.left-menu__item a:hover {
  color: #fff;
}
.left-menu__item_active {
  background: #009adf;
  color: #fff;
}

.right-banners {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.right-banners__item {
  position: relative;
  margin: 1rem 0;
  border-radius: 10px;
  overflow: hidden;
}
.right-banners__item img {
  width: 100%;
  transition: 0.3s;
}
.right-banners__item:hover img {
  transform: scale(1.2);
}

.section {
  padding-top: 2.5rem;
}

.footer {
  padding: 2rem 0;
  background: #131313;
  color: #fff;
}
.footer-copy {
  text-align: center;
  font-size: 1.8rem;
}
.footer-title {
  font-size: 1.8rem;
}
.footer-link {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer-link__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.2s ease-in;
  color: #131313;
  background: #fff;
}
.footer-link__item:hover {
  color: #fff;
}
.footer-link .tg:hover {
  background: #08c;
  box-shadow: 0 0 5px #0088cc, 0 0 15px #0088cc;
}
.footer-link .utube:hover {
  background: #c4302b;
  box-shadow: 0 0 5px #c4302b, 0 0 15px #c4302b;
}
.footer-link .inst:hover {
  background: #c13584;
  box-shadow: 0 0 5px #c13584, 0 0 15px #c13584;
}
.footer-link .fb:hover {
  background: #3b5998;
  box-shadow: 0 0 5px #3b5998, 0 0 15px #3b5998;
}
.footer-link .vk:hover {
  background: #07f;
  box-shadow: 0 0 5px #07f, 0 0 15px #07f;
}
.footer-feedback__title {
  font-size: 2rem;
}
.footer-feedback__btn {
  margin-top: 1rem;
  padding: 1rem 5rem;
  border-bottom: 4px solid #0077ac;
  cursor: pointer;
  transition: 0.3s;
}
.footer-feedback__btn:hover {
  transform: translateY(4px);
  border-color: transparent;
}

.scene {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene-content {
  position: relative;
  z-index: 10;
  padding: 3rem;
  border-radius: 20px;
  color: #131313;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 2px #131313;
}
.scene-content__title {
  margin-bottom: 2rem;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}
.scene-content__subtitle {
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}
.scene-btn {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid #009adf;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: #009adf;
  transform: translate(-50%, -200%);
  transition: 0.2s ease-in;
}
.scene-btn:hover {
  background: #009adf;
  color: #fff;
  box-shadow: 0 0 5px #009adf, 0 0 15px #009adf;
}
.scene .layer {
  position: fixed;
  top: 0;
  left: -10%;
  width: 110%;
  height: 100%;
}
.scene .layer-1 {
  background: url("../img/m_1.png") center/cover no-repeat;
  z-index: 1;
}
.scene .layer-2 {
  background: url("../img/m_2.png") bottom-right/45% no-repeat;
  z-index: 2;
}
.scene .layer-3 {
  background: url(../img/m_3.png) bottom left/100% no-repeat;
  z-index: 2;
}
.scene .layer-fog {
  background: url("../img/fog.png") bottom/100% no-repeat;
  z-index: 3;
}

.content {
  position: relative;
  z-index: 1;
}
.content .header {
  background: transparent;
}
.content .header-wrapper {
  background: #eef3f5;
}
.content-section {
  background: transparent;
}
.content-section .left, .content-section .right {
  background: #eef3f5;
  min-height: 80vh;
}
.content .footer {
  background: transparent;
  padding: 0;
}
.content .footer-container {
  padding: 2rem 0;
  background: #131313;
}

.company {
  color: #131313;
}
.company-img img {
  width: 100%;
}
.company-info__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}
.company-info__description {
  font-size: 1.8rem;
  font-weight: 500;
}
.company-text {
  margin-top: 2rem;
  line-height: 18px;
  font-size: 16px;
}
.company-more {
  margin-top: 3rem;
}

.regions table {
  width: 100%;
  margin-bottom: 2rem;
}
.regions table th, .regions table td {
  padding: 1rem 0;
  font-size: 1.4rem;
}

.clients {
  color: #131313;
}
.clients-tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-tabs::after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background: #009adf;
  transform: translateY(100%);
}
.clients-tabs__item {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: 1rem 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
}
.clients #clients-tabs__item_active {
  border-color: #0077ac;
  background: #009adf;
  color: #fff;
  transition: 0.3s;
}
.clients-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 700;
}
.clients-item {
  display: none;
}
.clients-item h2 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.clients-item ul, .clients-item ol {
  font-size: 16px;
  padding-left: 3rem;
}
.clients-item ul li, .clients-item ol li {
  margin: 0.5rem 0;
}
.clients-item p {
  font-size: 16px;
  line-height: 18px;
}

.partners-tabs {
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
}
.partners-tabs::after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background: #009adf;
  transform: translateY(100%);
}
.partners-tabs__item {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}
.partners #partners-tabs__item_active {
  transition: 0.3s;
  border-color: #0077ac;
  background: #009adf;
  color: #fff;
}
.partners-item {
  display: none;
  margin-top: 1rem;
}
.partners-item__title {
  font-size: 3rem;
  font-weight: 700;
}
.partners-item__text {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #707070;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.partners-item__cards, .partners-item__benefits, .partners-item__features {
  margin-top: 3rem;
}
.partners-card__title {
  margin-bottom: 1rem;
  color: #484343;
  font-size: 2rem;
  font-weight: 500;
}
.partners-card__text {
  line-height: 1.8rem;
  font-size: 14px;
}
.partners-benefits {
  position: relative;
  margin-bottom: 2rem;
}
.partners-benefits::before {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  content: "✔";
  display: inline-block;
  font-size: 2.5rem;
  color: #009adf;
  transform: translate(-105%, -30%);
}
.partners-benefits__text {
  color: #707070;
  line-height: 2rem;
  font-size: 1.8rem;
}
.partners-features {
  cursor: default;
  transition: 0.3s;
}
.partners-features:hover img {
  transform: scale(1.2);
}
.partners-features__img {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 2px #0077ac;
}
.partners-features__img img {
  transition: 0.3s;
}
.partners-features__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #484343;
}
.partners-features__text {
  font-size: 1.6rem;
  color: #707070;
  line-height: 1.8rem;
}

.contacts-title {
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #131313;
}
.contacts-table {
  width: 100%;
  font-size: 1.6rem;
}
.contacts-table td, .contacts-table th {
  padding: 1rem 0;
  vertical-align: middle;
}
.contacts-map {
  margin: 2rem 0;
}

.reg {
  position: relative;
  padding: 2rem 0;
  background: linear-gradient(45deg, #0077ac, #d13980);
  min-height: 100vh;
}
.reg-back {
  position: fixed;
  z-index: 3;
  top: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  color: #131313;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translate(10%, -50%);
  transition: 0.2s;
}
.reg-back:hover {
  background: #fff;
  transform: translate(0, -50%);
}
.reg-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 2rem 4rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.reg .form-group, .reg .form-drop {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.reg .form-group label, .reg .form-drop label {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.reg .form-group input, .reg .form-drop input {
  position: relative;
  font-size: 1.8rem;
  border: none;
  background: transparent;
  border-bottom: 1.5px solid #131313;
}
.reg .form-group input:valid, .reg .form-drop input:valid {
  border-right: 5px solid green;
}
.reg .form-group input:invalid, .reg .form-drop input:invalid {
  border-right: 5px solid red;
}
.reg .form-group .invalid, .reg .form-drop .invalid {
  border-color: red;
}
.reg .form-group .valid, .reg .form-drop .valid {
  border-color: green;
}
.reg .form-group__pas_wrong::after, .reg .form-drop__pas_wrong::after {
  content: "Пароли не совпадают";
  display: inline-block;
  margin-left: 5px;
  color: red;
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
}
.reg .form-drop {
  position: relative;
}
.reg .form-drop__list {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  max-height: 20rem;
  overflow-y: scroll;
}
.reg .form-drop__list_inactive {
  display: none;
}
.reg .form-drop__item {
  padding: 1rem 0.5rem;
  background: #fff;
  font-size: 1.8rem;
  transition: 0.3s;
}
.reg .form-drop__item:hover {
  background: #009adf;
  color: #fff;
}
.reg .form-drop__span {
  font-weight: 700;
}
.reg .form-file {
  position: relative;
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.reg .form-file label {
  display: inline-block;
  padding: 1rem;
  background: #009adf;
  color: #fff;
  border-radius: 4px;
  border-bottom: 4px solid #0077ac;
  cursor: pointer;
  transition: 0.3s;
}
.reg .form-file label:hover {
  border-color: transparent;
  transform: translateY(4px);
}
.reg .form-file input {
  display: none;
}
.reg .form-subtitle {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: default;
}
.reg .form-radio {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  border-bottom: 1.5px solid #131313;
}
.reg .form-radio__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 4px;
}
.reg .form-radio__wrapper input {
  top: 50%;
  left: 50%;
  z-index: -2;
  position: absolute;
  opacity: 0;
}
.reg .form-radio__wrapper label {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.reg .form-radio__button {
  position: relative;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
  background: #eaeaea;
  cursor: pointer;
}
.reg .form-radio__button span {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  background: #0077ac;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.reg .form-radio__button_active {
  background: #009adf;
}
.reg .form-radio__button_active span {
  left: 100%;
  transform: translateX(-100%);
}
.reg .form-checked {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.reg .form-checked__btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 3px solid #009adf;
  border-radius: 2px;
  cursor: pointer;
}
.reg .form-checked__btn::before {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  content: "✓";
  display: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
  transform: translate(-50%, -50%);
}
.reg .form-checked__btn_active::before {
  display: block;
}
.reg .form-checked label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 5px;
}
.reg .form-checked input {
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.reg-submit {
  width: 50%;
  margin: 2rem auto 1rem auto;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s;
  background: transparent;
  border: none;
  background: #009adf;
  color: #fff;
  border-bottom: 5px solid #0077ac;
}
.reg-submit:hover {
  border-color: transparent;
  transform: translateY(5px);
}

.catalog img {
  width: 100%;
}
.catalog-card {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: 26rem;
  transition: 0.3s;
}
.catalog-card__img {
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #009adf;
  height: 15rem;
}
.catalog-card__img img {
  height: 100%;
}
.catalog-card__title {
  color: #131313;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}
.catalog-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.catalog-card__wrapper a {
  background: #009adf;
  color: #fff;
  padding: 5px 1rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 4px;
  border-bottom: 3px solid #0077ac;
}
.catalog-card__price {
  font-size: 1.6rem;
  font-weight: 500;
}
.catalog-card__price span {
  font-weight: 700;
}
.catalog-card__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
}
.catalog-card__modal_active {
  opacity: 1;
  z-index: 10;
}
.catalog-card__more {
  max-width: 800px;
  width: 90%;
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  transition: 0.2s;
  transform: translateY(100%);
  opacity: 0;
}
.catalog-card__more_active {
  transform: translateY(0);
  opacity: 1;
}
.catalog-card .more-title {
  margin-bottom: 1rem;
  color: #000;
  background: #eaeaea;
  font-size: 1.8rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}
.catalog-card .more-img {
  border-radius: 20px;
  overflow: hidden;
}
.catalog-card .more-text {
  font-size: 14px;
  color: #707070;
  line-height: 16px;
  font-style: italic;
}
.catalog-card .more-list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  font-size: 14px;
  color: #707070;
  line-height: 16px;
  font-style: italic;
}
.catalog-card .more-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.catalog-card .more-wrapper .btn {
  padding: 5px 2rem;
  margin-right: 1rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  border-bottom: 4px solid #0077ac;
}
.catalog-card .more-price {
  color: #131313;
  font-size: 1.4rem;
}

.detail-title {
  font-size: 1.8rem;
  color: #000;
  background: #eaeaea;
}
.detail-img img {
  width: 100%;
}
.detail-info {
  font-size: 1.6rem;
  color: #484343;
  line-height: 2.4rem;
  -moz-text-align-last: left;
       text-align-last: left;
  cursor: default;
}
.detail-info__list {
  list-style: none;
  padding-left: 2rem;
}
.detail li {
  position: relative;
  cursor: default;
}
.detail li::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 2rem;
  height: 2rem;
  transform: translate(-115%, -50%);
  background: url("../img/list.png") center no-repeat;
  background-size: cover;
  border-radius: 50px;
}
.detail-tabs {
  position: relative;
  display: flex;
  margin-top: 4rem;
}
.detail-tabs::after {
  content: "";
  display: block;
  height: 5px;
  transform: translateY(100%);
  background: #009adf;
}
.detail-tabs__item {
  font-size: 1.8rem;
  cursor: pointer;
  border: 3px solid #009adf;
  padding: 0.5rem 3rem;
  font-family: "Montserrat Alternates", sans-serif;
  transition: 0.3s;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}
.detail-tabs__item:hover {
  background: #009adf;
  color: #fff;
}
.detail-tabs__item:last-child {
  border-left: none;
}
.detail-tabs #detail-tabs__item_active {
  background: #009adf;
  color: #fff;
}
.detail-item {
  display: none;
}
.detail .spec-title {
  font-size: 1.8rem;
  background: #eaeaea;
  color: #000;
  cursor: default;
}
.detail .spec-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.8rem;
  cursor: default;
}
.detail .spec-list {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #484343;
  list-style: none;
  padding-left: 2rem;
}
.detail .spec-list li {
  transition: 0.3s ease-in-out;
}
.detail .spec-list li:hover {
  color: #fff;
  background: #a50c0e;
}
.detail .review {
  font-size: 1.8rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.detail .review-form__title {
  margin: 3rem 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.detail .review-form__wrapper {
  margin: 1rem 0;
}
.detail .review-form .rating-title {
  font-weight: 600;
}
.detail .review-form .rating-buttons {
  position: relative;
}
.detail .review-form .rating-buttons input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -3;
  opacity: 0;
}
.detail .review-form .rating-buttons label {
  font-size: 3rem;
  cursor: pointer;
  color: gray;
  transition: 0.2s ease-in;
}
.detail .review-form .rating .average {
  display: inline-block;
  font-size: 3rem;
  position: relative;
  color: gray;
}
.detail .review-form .rating .average::before {
  content: "★★★★★";
  display: block;
}
.detail .review-form .rating .average #average {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.2s ease-in;
  color: orange;
}
.detail .review-form .rating .average #average::before {
  content: "★★★★★";
  display: block;
}
.detail .review-form__text {
  display: flex;
  flex-direction: column;
}
.detail .review-form__text label {
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 600;
}
.detail .review-form__text textarea {
  padding: 1rem;
  resize: none;
  background: #fff;
  border: none;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  height: 20rem;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
}
.detail .review-form__submit {
  display: block;
  margin: 3rem auto 1rem auto;
  padding: 5px 5rem;
  background: #009adf;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #0077ac;
}
.detail .description {
  margin-top: 2rem;
}
.detail .description-title {
  margin-bottom: 3rem;
  color: #000;
  background: #eaeaea;
  font-size: 1.8rem;
}
.detail .description-text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #484343;
}
.detail .description-text:last-child {
  margin-bottom: 0;
}

.pa {
  background: #eef3f5;
}
.pa-form {
  padding: 3rem 0;
}
.pa-form__submit {
  display: block;
  margin: 5rem auto;
  padding: 1rem 6rem;
  background: #009adf;
  border: none;
  border-bottom: 4px solid #0077ac;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  font-size: 1.8rem;
}
.pa-photo {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.pa-photo img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.pa-photo input {
  position: absolute;
  opacity: 0;
  z-index: -10;
  transform: scale(0);
}
.pa-photo label {
  position: absolute;
  z-index: -2;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 6rem;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.pa-photo:hover label {
  z-index: 100;
  opacity: 1;
}
.pa-main__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}
.pa-main__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.pa-main__group label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}
.pa-main__group input {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1rem;
}
.pa-secondary {
  margin-top: 3rem;
}
.pa-secondary__tabs {
  display: flex;
  margin-bottom: 2rem;
}
.pa-secondary__tab {
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  transition: 0.3s;
}
.pa-secondary #pa-secondary__tab_active {
  box-shadow: inset 0 0 5px #131313;
}
.pa-secondary__item {
  display: none;
}
.pa-secondary__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}
.pa-secondary__group label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}
.pa-secondary__group input {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1rem;
}
.pa-secondary__group textarea {
  resize: none;
  height: 20rem;
  padding: 1rem;
  font-size: 16px;
}
.pa-secondary__change {
  display: inline-block;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 5rem;
  border-radius: 5px;
  background: #009adf;
  border-bottom: 4px solid #0077ac;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
.pa-secondary__change:hover {
  transform: translateY(4px);
  border-color: transparent;
}

.modal {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-container {
  position: relative;
  background: linear-gradient(45deg, #0077ac, #d13980);
  border-radius: 10px;
  max-width: 1000px;
  width: 90%;
  padding: 4rem 2rem;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}
.modal-form__close {
  position: absolute;
  z-index: 21;
  top: 2%;
  right: 2%;
  font-size: 3rem;
  color: #131313;
  cursor: pointer;
}
.modal-form__title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}
.modal-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 3rem;
}
.modal-form__group label {
  font-size: 1.8rem;
  margin-bottom: 5px;
  cursor: pointer;
}
.modal-form__group input, .modal-form__group textarea, .modal-form__group select {
  padding: 1rem;
  font-size: 1.8rem;
  color: #131313;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  border: none;
}
.modal-form__group textarea {
  resize: none;
  height: 20rem;
}
.modal-form__check {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 80%;
}
.modal-form__checkBtn {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 3px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}
.modal-form__checkBtn::before {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  content: "✓";
  display: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  transform: translate(-50%, -50%);
}
.modal-form__checkBtn_active::before {
  display: block;
}
.modal-form__checkLabel {
  font-size: 1.6rem;
  margin-left: 5px;
  cursor: pointer;
}
.modal-form__checkInput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  opacity: 0;
}
.modal-form__file {
  width: 80%;
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.modal-form__file label {
  font-size: 1.8rem;
  color: #131313;
  width: 100%;
  display: block;
  padding: 1rem;
  cursor: pointer;
}
.modal-form__file input {
  display: none;
}
.modal-form__submit {
  margin-top: 2rem;
  padding: 0.5rem 5rem;
  font-size: 1.8rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  border: 2px solid #d13980;
  transition: 0.3s;
}
.modal-form__submit:hover {
  box-shadow: 0 0 5px #009adf, 0 0 15px #009adf;
  background: #009adf;
  border-color: #009adf;
}
.modal label.error {
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 1.6rem;
  transform: translateY(5px);
}/*# sourceMappingURL=style.css.map */